.container { 
  border: 1px solid black;
  padding: 10px;
  background-color: yellow;
  margin-bottom: 20px;
  height: 500px;
  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  /* grid-template-rows: repeat(2,ifr) */
  /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr));*/
  /* grid-template-columns: auto; */
  /* grid-template-columns: min-content; */ /* respeita o texto minimo dentro do item */
  
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
}

/* Possiveis valores de display: 
grid,inline-grid,*/

.item{
  border: 1px solid black;
}

.item-01 { 
background-color: palevioletred;
}
.item-02 {
  background-color: cornflowerblue;
}
.item-03 {
  background-color: palegreen;
}
.item-04 {
  background-color: orange;
}
.item-05 {
  background-color: cadetblue;
}
.item-06 {
  background-color: aqua;
}
.item-07 {
  background-color: violet;
}